*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Fabriga-Light', sans-serif;
    line-height: 1.6;
    overflow-x: hidden
}

img {
    max-width: 100%;
    display: block;
}

h1,
h2,
h3,
p {
    margin: 0;
}

section {
    padding: 7em 0;
}

.container {
    width: 85%;
    max-width: 65em;
    margin: 0 auto;
}

.spacing>*+* {
    margin-top: var(--spacer, 2rem);
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: var(--clr-text, #fff);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.125rem;
    padding: .5em 1.25em;
    background: var(--clr-accent, blue);
    border-radius: .25em;
    transition:
        transform 250ms ease-in-out,
        opacity 175ms linear;

    @media(max-width: 500px) {
        font-size: .9rem;
    }
}

.btn:hover,
.btn:focus {
    transform: scale(1.1);
    opacity: .9;
}

.section-title {
    text-align: center;
    font-size: clamp(2.5rem, calc(5vw + 1rem), 4rem);
    line-height: 1;
    color: #17353d;
    margin-bottom: 2rem;

    @media(max-width: 500px) {
        font-size: 1.8rem;
    }
}

.hero {
    --clr-accent: #faa700;
    color: white;
    text-align: center;
    padding: 20em 0;
    animation: animate 30s ease-in-out infinite;
    background: rgba(0, 0, 0, .7);

    @supports (background-blend-mode: multiply) {
        background-image:
            url(../assets/img/cube-berlin-an-entirely-glass-clad-office-building-designed-by-3xn-in-washington-platz-germany-cube-berlin-designed-by-3xn-stirworld-200915063456_.jpg),
            radial-gradient(#444, #111);
        background-blend-mode: multiply;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 100vh;
    }

    &__primary-title {
        font-size: 4rem;
        font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
        line-height: 1;
        text-transform: uppercase;
    }

    &__sub-title {
        margin-top: 1em;
        font-size: 2rem;
    }

    &__details {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    &__btn {
        margin-top: 2em;
    }

    @keyframes animate {

        0%,
        100% {
            background-image: url(../assets/img/1920x1080/cube-berlin-an-entirely-glass-clad-office-building-designed-by-3xn-in-washington-platz-germany-cube-berlin-designed-by-3xn-stirworld-200915063.jpg);
        }

        25% {
            background-image: url(../assets/img/1920x1080/Screenshot-2021-04-01-at-15.00.25.png);
        }

        50% {
            background-image: url(../assets/img/1920x1080/cube-berlin-und-hauptbahnhof-021c40f6-f3c9-4102-b6bb-d5431985fab0.jpg);
        }

        75% {
            background-image: url(../assets/img/1920x1080/cube-berlin-frontal.jpg);
        }
    }

    @media screen and (max-width: 528px) {
        &__primary-title {
            font-size: 2rem;
        }

        &__sub-title {
            font-size: 1.5rem;
        }

        &__btn {
            font-size: 0.9rem;
        }
    }

    @media screen and (max-width: 355px) {
        &__primary-title {
            font-size: 1.5rem;
        }

        &__sub-title {
            font-size: 1rem;
        }

        &__btn {
            font-size: 0.7rem;
        }
    }
}

.featured {
    &__text {
        color: #00B140;
        display: block;
        font-size: 1.8rem;
        text-align: center;
        line-height: 1.3em;
        max-width: 40rem;
        margin-left: auto;
        margin-right: auto;

        @media(max-width: 500px) {
            font-size: 1.3rem;
            line-height: 1em;
        }
    }

    &__image {
        float: right;
        min-width: 50%;
        max-width: 55%;
        margin: 0 2em 2em 2em;
    }

    &__details {
        opacity: 0;
        transition: opacity 250ms linear;

        span {
            display: block;
            font-weight: 700;
            font-size: 2.5rem
        }
    }
}

.green-btn {
    --clr-accent: green;
}

.center {
    text-align: center;
    justify-content: center;
}

.footer {
    &__btn {
        margin: 2rem;
        text-decoration: none;
        color: black;
    }

    &__btn:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    &__back_btn {
        position: absolute;
        right: 0;
        background-color: #00B140;
        width: 30px;
        cursor: pointer;
    }
}

.spec {
    &__table {
        width: 100%;
        border-collapse: collapse;
    }

    &__text {
        font-size: 2rem;
        color: #00B140;
        padding: 12px 15px;
        border: solid 1px #ddd;
        text-align: right;
        border: 1px solid gray;
        border-radius: 5px;
    }

    &__header {
        font-size: 2rem;
        color: #00B140;
        padding: 12px 15px;
        border: solid 1px #ddd;
        text-align: left;
        border: 1px solid gray;
        border-radius: 5px;
    }

    &__title {
        z-index: 1;
    }

    &__img {
        float: right;
        width: 50%;
        margin-left: 2rem;
    }

    &__video {
        position: relative;
        width: 100%;
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2em;
        overflow: hidden;
        cursor: pointer;
    }

    @media(max-width: 400px) {

        &__text,
        &__header {
            font-size: 1rem;
            padding: 6px 7px;
        }
    }
}

.grid {
    --gap: 16px;
    --num-cols: 4;
    --row-height: 300px;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;

        &_col2 {
            grid-column: span 2;
        }

        &_col3 {
            grid-column: span 3;
        }

        &_row2 {
            grid-row: span 2;
        }

        &:hover,
        &:focus {
            transform: scale(1.1);
        }
    }

    @media(max-width: 1024px) {
        --num-cols: 2;
        --row-height: 200px;
    }
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;

    &__close {
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 60px;
        font-weight: bold;
        color: #fff;
        cursor: pointer;
        z-index: 100;
    }

    &__img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 5px solid #fff;
        border-radius: 5px;
        width: 750px;
        object-fit: cover;
    }

    @media(max-width: 768px) {
        &img {
            width: 95%;
        }
    }
}

// .gray-background {
//     background: #eee;
// }